.record-card {
  height: 70px;
  background: #fff;
  padding-bottom: 5px;
  border-bottom: 2px solid #79cdfa;
  margin-bottom: 20px;
}

.record-date {
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 400;
  font-size: 14px;
  color: #3d3d3d;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 15px;
}

.record-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.record-location {
  width: 40%;
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 400;
  font-size: 17px;
  color: #3d3d3d;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.record-status {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 400;
  font-size: 18px;
  color: #a6a6a6;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  border-radius: 14px;
  padding: 2px;
}

.record-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 400;
  font-size: 12px;
  color: #8b0c0c;
  line-height: 16px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: none;
  width: 82px;
  height: 35px;
  background: #f59e9b;
  margin-left: auto;
  border-radius: 20px;
}

.record-btn-booked {
  background: #94f2f5 !important;
  color: #165964 !important;
  box-shadow:
    0 4px 16px rgba(22, 89, 100, 0.22),
    0 3px 8px rgba(0, 0, 0, 0.15);
  transition:
    box-shadow 0.15s,
    transform 0.1s;
  cursor: pointer;

  &:active {
    box-shadow:
      0 2px 6px rgba(22, 89, 100, 0.15),
      0 1.5px 4px rgba(0, 0, 0, 0.1);
    transform: scale(0.97);
  }
}

.record-btn-effective {
  background: #c5ffc8 !important;
  color: #2cb611 !important;
}

.record-btn-completed {
  background: #c3eaff !important;
  color: #39baff !important;
}

.record-btn-cancelled {
  background: #d0dde3 !important;
  color: #5a6971 !important;
}

.record-btn-violated {
  background: #f59e9b !important;
  color: #8b0c0c !important;
}
