.select-dialog__mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-dialog__container {
  position: relative;
  width: 300px;
  height: 300px;
  background: #e6f9ff;
  box-shadow: -9px 6px 1px 0px rgba(0, 0, 0, 0.13);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 32px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-dialog__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  z-index: 10;
  cursor: pointer;
}

.select-dialog__content {
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 500;
  font-size: 24px;
  color: #3d3d3d;
  line-height: 33px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: none;
  -webkit-text-stroke: 1px #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  margin-bottom: 20px;
  gap: 8px;
}

.select-dialog__actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  width: 100%;
}

.select-dialog__btn1 {
  width: 91px;
  height: 42px;
  background: #c3fffd;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 500;
  font-size: 18px;
  color: #78d6f0;
  line-height: 25px;
  letter-spacing: 6px;
  font-style: normal;
  text-transform: none;
}

.select-dialog__btn2 {
  width: 91px;
  height: 42px;
  background: #78d6f0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  line-height: 25px;
  letter-spacing: 6px;
  font-style: normal;
  text-transform: none;
  -webkit-text-stroke: 1px #000000;
}
