.rule-dialog__mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rule-dialog__container {
  position: relative;
  width: 320px;
  height: 371px;
  background: #e6f9ff;
  box-shadow: -9px 6px 1px 0px rgba(0, 0, 0, 0.13);
  border-radius: 25px;

  box-sizing: border-box;
  padding: 32px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rule-dialog__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  z-index: 10;
  cursor: pointer;
}

.rule-dialog__content {
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 400;
  font-size: 18px;
  color: #3d3d3d;
  line-height: 25px;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 0px 0px;
  gap: 8px;
}

.rule-dialog__title {
  width: 100%;
  text-align: center;
  font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
  font-weight: 700;
  font-size: 24px;
  color: #3d3d3d;
  line-height: 33px;
  letter-spacing: 12px;
  font-style: normal;
  text-transform: none;
  margin: 16px 0 8px 0;
}
